.tag-cloud {
    list-style: none;
    padding: 0;
    text-align: justify;
    font-size: 16px;
    li {
        display: inline-block;
        margin: 0 12px 12px 0;
    }
}
#tag-archives {
    padding: 5px;
}
.tag-archive-group {
    margin: 5px;
    border-top: 1px solid #ddd;
}
.tag-archive-item {
    margin-left: 5px;
}
.post-tags {
    .tag-item {
        background: #eef3fe;
        padding: 2px 8px;
        border-radius: 4px;
        &:hover {
            color: #eef3fe;
            background-color: #5783f7;
        }
    }
}
